header{
  background-image: url(../../assets/images/main-background.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
html{
  overflow-x: hidden;
}


.highligted{
  color: #FAFAFA;
}

h3{
  margin: 0;
}

a{
  color: #FAFAFA;
  text-decoration: none;
}
.logo{
  font-family: var(--family-georgia);
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  margin-bottom: 3px;
}

.logo-span{
font-weight: 400;
font-size: 13px;
line-height: 15px;
letter-spacing: 0.1em;
padding-left: 4px;
}

nav li a{
  font-weight: 300;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-s);
}

nav ul {
  padding-left: 36px;
}
.main-right-container{
  width: 125%;
  padding-top: 20px;
}
.main-right{
  background-image: url("../../assets/images/main-puppy.png");
  background-repeat: no-repeat;
  background-size: cover; 
  height: 720px;
  left: calc(50% - 698px/2 + 251px);
}

.footer-section{
  padding: 5px 40px 0;
  gap: 33px;
}

.waiting{
  margin-left: 10px;
}

.marker-icon{
  margin: 0 7px 0 0
}
.main-left{
  color: #fff;
  display: flex;
  align-items: center;
  padding-bottom: 4rem;
}

.main-left h1{
  margin: -23px 0 42px;
}

h1{
font-family: 'Georgia';
font-size: 44px;
line-height: 130%;
font-family: georgia-web;
}

h4{
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  color: #545454;
}

.main-p{
font-family: 'Arial';
font-weight: 400;
font-size: 15px;
line-height: 160%;
color: var(--color-dark-s);
width: 93%;
}

.not-only-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3rem;
}
/* About shelter */
.about-shelter{
  background-color: #fff;
  padding: 80px 90px 100px
}

.about-section-container .col-sm-6{
  flex-basis: 47%;
}
.about-left{
  width: 300px;
  margin-right: 120px;
}
.about-text-block {
 width: 430px;
}

.about-right{
  padding-top: 15px;
}

.about-right h3{
  margin: 0 0 23px;
}

h3 {
	font-family: 'Georgia';

	font-weight: 400;
	font-size: 35px;
	line-height: 128%;
	letter-spacing: 0.06em;
	color: var(--color-dark-l);
	margin-bottom: 23px;
}

.about-add-text {
	font-family: 'Arial';
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: var(--color-dark-xl);
	margin: 0
}
.about-add-text-m {
margin-bottom: 7px;
}
.pets-slider{
  display: flex;
  gap: 90px;
}

/* our-friends-title */

.text-center{
  margin: 1px;
}

.help-container, .our-friends{
  background-color: #F6F6F6;
  padding: 80px 0 100px;
}


.donation-wrapper{
  padding: 78px 0 88px;
}

.arrow-right{
  width: 52px;
  height: 52px;
  margin-left: 53px;
  border: 2px solid var(--color-primary);
  box-sizing: border-box;
  border-radius: 100px;
  background: url(../../assets/icons/Arrow\ right.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 24px 0;
  cursor: pointer;
}

.arrow-left{
  width: 52px;
  height: 52px;
  margin-right: 53px;
  border: 2px solid var(--color-primary);
  box-sizing: border-box;
  border-radius: 100px;
  background: url(../../assets/icons/Arrow\ left.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 24px 0;
  cursor: pointer;
}

.slider{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin: 55px 0 60px 0;
}
.pet{
  display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    transition: 0.1s;
    height: 435px;
  cursor: pointer;
  width: 270px;
}

.pet:hover{
  background-color: #fff;
}

.pet:hover .btn-secondary{
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
  
}

.overflow-hidden{
  overflow: hidden;
}

.pet-name{
  font-family: 'Georgia';
font-weight: 400;
font-size: 20px;
line-height: 23px;
margin: 32px 0;
letter-spacing: 0.06em;
}
main{
  background-color: #F6F6F6;
}

h3{
  font-family: 'Georgia';
font-weight: 400;
font-size: 35px;
line-height: 130%;
letter-spacing: 0.06em;
color: #545454
}

.bg-white{
  background-color: #fff;
}

.bg-gray{
  background-color: #F6F6F6;
}


.help-row{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 60px auto 0;
  gap: 27px 65px;
}

.help-icon{
  justify-self: center;
  width: 160px;
}

.help-row-container{
  margin: 0 70px;
}
.bowl, .sleeping{
  margin-right: 30px;
}

.medicines{
  margin-right: 25px;
}
.food{
  margin-right: 6px;
}
.vitamins img{
  margin-left: 10px;
}
.leashes{
  margin-right: 50px;
}
.help-row2{
  width: 74%;
  margin: 3rem auto 0;
}

.help-icon{
  text-align: center;
}

.help-icon img{
  margin-bottom: -2px;
}

.help-container{
  padding: 80px 0 78px;
}

.help-img-name{
  letter-spacing: 0.06em;
}
/* Donations */

h5{
  font-family: 'Georgia';

  color: var(--color-dark-l);
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
}

.donation-text2{
  font-family: 'Arial';
font-style: italic;
font-weight: 400;
font-size: 12px;
line-height: 18px;
color: #B2B2B2;
}

.button-wrapper{
  margin-top: 58px;
}

.donation-button{
  background: #F1CDB3;
border-radius: 9px;
width: 319px;
height: 37px;
padding: 2px 15px;
border: none;
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 20px;
}

.donation-button{
  font-weight: 400;
font-size: 20px;
line-height: 115%;
font-family: 'Georgia';
color: #545454;
letter-spacing: 0.06em;
}

footer{
  background: url(../../assets/images/footer-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 40px 0;
}

footer h3{
  color: #fff;
}

footer a{
  color: var(--color-primary);
  font-family: 'Georgia';
font-weight: 400;
font-size: 20px;
line-height: 115%;
letter-spacing: 0.06em;
}
.footer-icon{
  height: 37px;
  width: 40px;
}
.footer-icon-bigger{
  height: 37px;
  width: 40px;
}

header .section-container{
  padding: 60px 0 0;
}

.col-sm-4-cus{
  flex-basis: 33%;
}

.donation-text-block{
  width: 400px;
  justify-content: center;
}

.d-xs-block{
  display: none!important;
}

.d-xs-none{
  display: flex;
}

.mobile-navbar{
  position: fixed;
  background-color: #292929;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  padding: 30px 10px 0;
  overflow: scroll;
}

.mobile-nav-header{
  display: flex;
  justify-content: space-between;
  margin-right: 2rem;
  align-items: center;
}

.mobile-nav-ul{
  padding: 0;
  text-align: center;
  margin-top: 158px;
}

.mobile-nav-ul li{
  margin-bottom: 40px;
}

.mobile-nav-ul li a{
  font-weight: 400;
  font-size: 32px;
  line-height: 160%;
  color: #CDCDCD;
  padding: 10px 0;
}

.highligted{
  color: #FAFAFA!important;
  border-bottom: 3px solid #F1CDB3;
  padding: 0 0 5px 0;
}

.highligtedmob{
  color: #FAFAFA!important;
  border-bottom: 3px solid #F1CDB3;
}

.suggestions, .waiting{
  width: 280px;
  margin-bottom: 35px;
}

.waiting{
  margin-bottom: 32px;
}

.puppy-wrapper{
  margin: -20px  0  0 40px;
}
.footer-section .center-vertically{
  margin-bottom: 30px;

}

.footer-text{
  margin-left: 4px;
}
/* PErfect px */

.innner-wrapper{
  padding: 0 40px;
}

.donation-wrapper{
  justify-content: center;
}

.donation-margin{
  padding: 0 20px ;
}

.donation-margin h3{
  margin-bottom: 20px;
}

.donation-margin h5{
  margin: 0 0 20px;
  letter-spacing: 0.06em;
}

.donation-dog{
  align-items: center;
  margin-bottom: 13px;
  margin-right: 10px;
}

.popup-modal{
  position: relative;
}


.popup-modal{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(41, 41, 41, 0.6);
}
.popup-modal-inner{
  width: 900px;
  height: 500px;
  margin: auto;
  display: flex;
  gap: 30px;
  background: #fff;
  border-radius: 10px;
  position: relative;
}

.popup-img{
  width: 500px;
  height:500px ;
}

.popup-img-image{
  width: 100%;
  height: 100%;
}

.popup-content{
  width: 360px;
  padding: 50px 20px 50px 0;
}

.popup-title{
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  margin: 0;
  letter-spacing: 0.06em;
}
.popup-breed{
  font-weight: 400;
font-size: 20px;
line-height: 115%;
letter-spacing: 0.06em;
margin: 10px 0 0 0;
}
.popup-content p {
font-weight: 400;
font-size: 15px;
line-height: 110%;
letter-spacing: 0.06em;
margin: 40px 0;
}

.popup-content ul {
  padding: 0;
}

.popup-content ul li {
  margin-bottom: 11px;
}

.popup-content ul li::before {
  content: "\2022"; 
  color: #F1CDB3;
  font-weight: bold; 
  display: inline-block;
  width: 1em;
  margin-left: -1em; 
}

#close-popup-btn-container{
  position: absolute;
  right: -50px;
  top: -50px;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  border: 1px solid #F1CDB3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s;
}


.hovering{
  background-color: #F1CDB3;
  cursor: pointer;
}

/* Footer */


/* Responsiveness */


@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .about-shelter, .help-container, .our-friends, .donation-wrapper{
    padding: 80px 0
  }

  .innner-wrapper{
    padding: 0 30px;
  }
  .main-p{

    width: 100%;
    }
  nav ul{
    padding: 0 35px 0 0;
  }

  nav  ul:last-child{
    padding: 0;
  }

  .about-right, .about-left{
    margin: auto;
    padding: 0;
  }

  header .section-container {
    padding: 30px 0 0;
  } 

   header .main-left{
    margin: auto;
    padding-right: 0!important;
    padding-bottom: 100px;
  }
  .button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 43px;
  } 

  .not-only-section{
    flex-direction: column ;
    margin-top: 80px;
  }
  
  .main-left{
    max-width: 460px;
  }
 .main-right {
    width: 569px;
    height: 592px;
    background-size: contain;
    background-image: url("../../assets/images/start-screen-puppy-tablet.png");
  }
.main-right-container{
    display: flex;
    justify-content: end;
  }

  .about-section-container {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .about-text-block{
    width: 430px;
    margin-bottom: 80px;
  }

  .pets-slider {
    gap: 40px;
}

  .slider {
    width: auto;
  }

  .arrow-left{
    margin-right: 12px;
  }

  .arrow-right{
    margin-left: 12px;
  }
  .help-row {
    width: 630px;
  }

  .bowl, .sleeping, .medicines, .leashes{
    margin: 0;
  }

  .donation-margin{
    padding: 0;
  }

  .donation-wrapper{
    padding: 80px 0 88px;
  }

  .donation-wrapper{
    flex-direction: column-reverse;
    justify-content: center;
  }

  .donation-text-block{
    width: 380px;
    justify-content: center;
    margin: auto;
  }
  .donation-dog{
    justify-content: center;
    margin-top: 45px;
  }

  .footer-section{
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0 0 23px;
    gap: 0;
  }

  .col-sm-4-cus{
   flex-basis: 50%;
  }

  .d-md-none{
    display: none;
  }

  .mobile-navbar{
    display: none!important;
  }

  .main-right-container{
    width: 100%;
    padding-top: 0
  }

.about-shelter {
  padding: 80px 0 100px;
  }
  .our-friends{
    padding: 82px 0 94px;
  }

  .donation-margin h3{
    margin-bottom: 18px;
  }
  
  .help-row {
    gap: 30px 65px;
}

  .slider{
    margin: 57px 0 60px 0;
  }

  footer{
    padding: 30px 40px 0;
  }
  .puppy-wrapper{
    margin-top: 30px;
    margin-right: 60px;
  }

  .popup-modal-inner {
    width: 630px;
    height: 350px;
}
.popup-img{
  height: 350px;
  width: 350px;
}

.popup-content{
  padding: 10px 0;
}

.popup-content p{
  font-size: 13px;
  margin: 20px 0;
}
.popup-content ul li {
  margin-bottom: 6px;
}
}

@media only screen and (max-width: 767px) {
  .main-p{
    width: 100%;
  }

  .about-right, .about-left{
    margin: auto;
    padding: 0;
  }

  .mr-2{
    margin-right: 43px;
  }

  .main-left{
    margin-bottom: 3rem;
  }
  .d-xs-none{
    display: none;
  }

  .d-xs-block{
    display: block!important;
  }

  .not-only-section{
    flex-direction: column ;
    margin-top: 60px;
  }
 .main-right {
    width: 569px;
    height: 588px;
    background-size: contain;
    background-image: url("../../assets/images/start-screen-puppy-tablet.png");
  }

  .main-right-container{
    display: flex;
    justify-content: end;
  }

  .about-section-container {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .d-xs-none{
    display: none;
  }

  .our-friends{
    position: relative;
  }
  .arrow-left, .arrow-right {
    position: absolute;
    bottom: 139px;
  }

  .arrow-left{
    margin-right: 135px;
  }

  .arrow-right{
    margin-left: 135px;
  }

  .our-friends{
    padding: 42px 0 42px
  }

  .help-row{
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }

  .help-icon{
    justify-self: center;
  }

  footer{
    padding: 30px 0 0;
  }

  footer .pl-1 {
    padding-left: 0;
  }

  .slider{
    margin:39px 0 115px 0
  }

  .pet-name{
    margin: 31px 0;
  }

  .donation-wrapper{
    flex-direction: column-reverse;
    justify-content: center;
    padding: 42px 0 42px;
  }

  .help-container, .our-friends,  .donation-wrapper, .about-shelter{
    padding: 42px 0 42px;
  }

  .donation-text-block{
    width: 100%;
    justify-content: center;
    margin: auto;
    text-align: center;
  }

  .donation-text2{
    text-align: start;
  }
  .donation-dog{
    justify-content: center;
    margin-top: 31px;
    margin-left: 10px;
  }

  .footer-section{
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 0;
    gap: 0;
  }

  .col-sm-4-cus{
   flex-basis: 100%;
  }

  .d-md-none{
    display: none;
  }

  .center-vertically{
    justify-content: center;
  }
  .my-1{
    margin: 2rem 0;
  }

  h3{
    font-weight: 400;
    font-size: 25px;
    text-align: center;
  }

  .button-wrapper, h1, .main-p{
    text-align: center;
  }
  .main-right{
    width: 260px;
    height: 271.77px;
  }

  h1{
    font-size: 25px;
  }

  h4{
    font-size: 15px;
  }

  .section-container .flex-between {
    align-items: center;
  }

  .donation-button{
    width: 251px;
    font-size: 15px;
    margin: auto;
  }


  header .section-container{
    padding: 30px 0 0;

  }

  header {
    padding: 0 10px;
  }

  .donation-wrapper{
    padding: 42px 20px 30px;
    margin:0;
  }

  .suggestions{
    margin: auto;
  }

  .waiting{
    width: 80%;
    margin: auto;
  }

  .about-text-block{
    width: 270px;
  }

  .innner-wrapper{
    padding: 0;
  }

  .main-left h1{
    margin: 0;
    letter-spacing: 0.06em;
  }

  .main-p{
    padding-top: 9px;
  }

  .main-right-container{
    width: 100%;
    padding-top: 10px;
  }

  .bowl, .sleeping, .medicines, .leashes{
    margin: 0;
  }

  .help-icon{
    width: 130px;
  }

  .about-add-text-m{
    margin-bottom: 5px;
  }

  .about-add-text{
    text-align: justify;
  }

  .about-left img {
    height: 353.6px;
    margin-top: 42px;
  }

  .our-friends{
    padding: 40px 0 42px;
  }

  .help-container{
    padding: 39px 0 22px;;
  }

  .help-row{
     margin: 0;
     gap: 8px 30px;
  }

  .vitamins img, .food{
    margin: 0;
  }

  .help-img-name{
    margin: 19px  0 20px
  }

  .help-icon img{
    width: 50px;
  }

  .help-row-container {
    margin: 40px 30px 0;
 }

 .donation-margin h5{
   letter-spacing: 0;
 }
 .donation-margin{
   padding: 0;
 }
 .donation-margin h5{
  margin-bottom: 27px;
 }
 .donation-text2{
  margin-top: 20px;
  text-align:justify;
 }

.footer-section .center-vertically {
    margin: 35px 0 31px 0;
    text-align: start;
}
.phone{
  margin: 30px 0 31px 0!important;
}
.waiting{
  margin-top: 5px;
}
.text-start{
  justify-content: start;
  margin: 37px 0 31px 0;
}

.puppy-wrapper{
  width: 260px;
  margin: 9px 0 0;
}
.mobile-nav-header {
  padding: 0 0 0 15px;
}

 .mobile-nav-ul{
  padding: 0 0 0 25px;
}
.popup-img{
  display: none;
}

.popup-modal-inner{
  width: 240px;
  padding: 10px;
  height: 441px;
}

.popup-content {
  width: 360px;
  padding: 10px 0;
  
}
.popup-content ul {
  padding: 0 15px;
}
.popup-content p{
  font-size: 13px;
  margin: 20px 0;
}
.popup-content ul li{
  font-size: 15px;
}
.popup-content{
  width: 240px;
}

.popup-content ul li::before{
  width: 0.7em;
}
}