header{
  background-image: url(../../assets/images/main-background.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 2rem;
}
html{
  overflow-x: hidden;
}


.highligted{
  color: #FAFAFA;
}

h3{
  margin: 0;
}

a{
  color: #FAFAFA;
  text-decoration: none;
}
.logo{
  font-family: var(--family-georgia);
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
}

.logo-span{
font-weight: 400;
font-size: 13px;
line-height: 15px;
letter-spacing: 0.1em;
}



nav li a{
  font-weight: 300;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0.5px;
  color: var(--color-dark-s);
}

.main-right-container{
  width: 100%;
}
.main-right{
  background-image: url("../../assets/images/main-puppy.png");
  background-repeat: no-repeat;
  background-size: cover; 
  height: 700px;
  left: calc(50% - 698px/2 + 251px);
}

.main-left{
  color: #fff;
  display: flex;
  align-items: center;
  padding-bottom: 4rem;
}

h1{
font-family: 'Georgia';
font-size: 44px;
line-height: 130%;
letter-spacing: 2px;
font-family: georgia-web;
}

h4{
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  color: #545454;
}

.main-p{
font-family: 'Arial';
font-weight: 400;
font-size: 15px;
line-height: 160%;
color: var(--color-dark-s);
width: 80%;
}

.not-only-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3rem;
}
/* About shelter */
.about-shelter{
  background-color: #fff;
  padding: 94px 0 100px 0;
}

.about-text-block {
	display: flex;
	flex-direction: column;
  padding: 0 30px;
  margin: auto;
}

.about-left{
  padding: 0 30px;
}



h3 {
	font-family: 'Georgia';

	font-weight: 400;
	font-size: 35px;
	line-height: 128%;
	letter-spacing: 0.06em;
	color: var(--color-dark-l);
	margin-bottom: 23px;
}

.about-add-text {
	font-family: 'Arial';

	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: var(--color-dark-xl);
	margin-bottom: 6px;
}

.pets-slider{
  display: flex;
}

.help-container, .our-friends{
  background-color: #F6F6F6;
  padding: 80px 0 100px;
}

.donation-wrapper{
  padding: 80px 0 100px;
}

.arrow-right{
  width: 52px;
  height: 52px;
  margin-left: 53px;
  border: 2px solid var(--color-primary);
  box-sizing: border-box;
  border-radius: 100px;
  background: url(../../assets/icons/Arrow\ right.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 24px 0;
  cursor: pointer;
}

.arrow-left{
  width: 52px;
  height: 52px;
  margin-right: 53px;
  border: 2px solid var(--color-primary);
  box-sizing: border-box;
  border-radius: 100px;
  background: url(../../assets/icons/Arrow\ left.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 24px 0;
  cursor: pointer;
}

.slider{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin: 55px 0 60px 0;
}
.pet{
  display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    transition: 0.1s;
    height: 435px;
  cursor: pointer;
}

.pet:hover{
  background-color: #fff;
}

.pet:hover .btn-secondary{
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
  
}

.pet-name{
  font-family: 'Georgia';
font-weight: 400;
font-size: 20px;
line-height: 23px;
}
main{
  background-color: #F6F6F6;
}

h3{
  font-family: 'Georgia';
font-weight: 400;
font-size: 35px;
line-height: 130%;
letter-spacing: 0.06em;
color: #545454
}

.bg-white{
  background-color: #fff;
}

.bg-gray{
  background-color: #F6F6F6;
}


.help-row{
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin: 3rem auto 0;
  flex-wrap: wrap;
  gap: 120px;
}

.help-row2{
  width: 74%;
  margin: 3rem auto 0;
}

.help-icon{
  width: 100px;
  text-align: center;
}
/* Donations */

h5{
  font-family: 'Georgia';

  color: var(--color-dark-l);
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
}

.donation-text2{
  font-family: 'Arial';
font-style: italic;
font-weight: 400;
font-size: 12px;
line-height: 18px;
color: #B2B2B2;
}

.button-wrapper{
  margin-top: 62px;
}

.donation-button{
  background: #F1CDB3;
border-radius: 9px;
width: 349px;
height: 43px;
padding: 2px 15px;
border: none;
display: flex;
align-items: center;
justify-content: space-around;
margin-bottom: 20px;
}

.donation-button{
  font-weight: 400;
font-size: 20px;
line-height: 115%;
font-family: 'Georgia';
color: #545454;
letter-spacing: 0.06em;
}

footer{
  background: url(../../assets/images/footer-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 56px 40px 0;
}

footer h3{
  color: #fff;
}

footer a{
  color: var(--color-primary);
  font-family: 'Georgia';
font-weight: 400;
font-size: 20px;
line-height: 115%;
letter-spacing: 0.06em;
}
.footer-icon{
  height: 37px;
  width: 40px;
}
.footer-icon-bigger{
  height: 37px;
  width: 40px;
}

header .section-container{
  padding: 66px 0 0;
}

.col-sm-4-cus{
  flex-basis: 33%;
}

.donation-text-block{
  width: 400px;
  justify-content: center;
  margin: auto;
}

.d-xs-block{
  display: none!important;
}

.d-xs-none{
  display: flex;
}

.mobile-navbar{
  position: fixed;
  background-color: #292929;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  padding: 30px 10px 0;
}

.mobile-nav-header{
  display: flex;
  justify-content: space-between;
  margin-right: 2rem;
  align-items: center;
}

.mobile-nav-ul{
  padding: 0;
  text-align: center;
  margin-top: 100px;
}

.mobile-nav-ul li{
  margin-bottom: 40px;
}

.mobile-nav-ul li a{
  font-weight: 400;
  font-size: 32px;
  line-height: 160%;
  color: #CDCDCD;
  padding: 10px;
}

.highligted{
  color: #FAFAFA!important;
  border-bottom: 3px solid #F1CDB3;

}

.highligtedmob{
  color: #FAFAFA!important;
  border-bottom: 3px solid #F1CDB3;
}

.waiting{
  width: 70%;
}

.suggestions{
  width: 70%;
}
/* Responsiveness */


@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .about-shelter, .help-container, .our-friends, .donation-wrapper{
    padding: 80px 0
  }

  .main-p{

    width: 100%;
    }
  nav ul{
    padding: 0 35px 0 0;
  }

  nav  ul:last-child{
    padding: 0;
  }
  nav li a{
    font-size: 14px;
  }

  header .section-container {
    padding: 30px 0 0;
  } 

   header .main-left{
    margin: auto;
    padding-right: 0!important;
    padding-bottom: 100px;
  }
  .button-wrapper {
    display: flex;
    justify-content: center;
  } 

  .not-only-section{
    flex-direction: column ;
  }
  .main-left{
    max-width: 460px;
  }
 .main-right {
    width: 569px;
    height: 588px;
    background-size: contain;
    background-image: url("../../assets/images/start-screen-puppy-tablet.png");
  }
.main-right-container{
    display: flex;
    justify-content: end;
  }

  .about-section-container {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .about-text-block{
    width: 430px;
    margin-bottom: 80px;
  }

  .pets-slider {
    gap: 40px;
}

  .slider {
    width: auto;
  }

  .arrow-left{
    margin-right: 12px;
  }

  .arrow-right{
    margin-left: 12px;
  }
  .help-row {
    width: 630px;
    gap: 80px;
  }

  .donation-wrapper{
    flex-direction: column-reverse;
    justify-content: center;
  }

  .donation-text-block{
    width: 380px;
    justify-content: center;
    margin: auto;
  }
  .donation-dog{
    justify-content: center;
    margin-top: 45px;
  }

  .footer-section{
    flex-wrap: wrap;
    justify-content: center;
  }

  .col-sm-4-cus{
   flex-basis: 50%;
  }

  .d-md-none{
    display: none;
  }

  .mobile-navbar{
    display: none!important;
  }

  .waiting{
    width: 80%;
  }

  .suggestions{
    width: 90%;
  }
}

@media only screen and (max-width: 767px) {
  .main-p{
    width: 100%;
  }

  .mr-2{
    margin-right: 2rem;
  }

  .main-left{
    margin-bottom: 3rem;
  }
  .d-xs-none{
    display: none;
  }

  .d-xs-block{
    display: block!important;
  }

  .not-only-section{
    flex-direction: column ;
  }
 .main-right {
    width: 569px;
    height: 588px;
    background-size: contain;
    background-image: url("../../assets/images/start-screen-puppy-tablet.png");
  }

  .main-right-container{
    display: flex;
    justify-content: end;
  }

  .about-section-container {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .d-xs-none{
    display: none;
  }

  .our-friends{
    position: relative;
  }
  .arrow-left, .arrow-right {
    position: absolute;
    bottom: 120px;
  }

  .arrow-left{
    margin-right: 135px;
  }

  .arrow-right{
    margin-left: 135px;
  }

  .our-friends{
    padding: 42px 0 42px
  }

  .help-row{
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }

  .help-icon{
    justify-self: center;
  }

  footer{
    padding: 30px 0 0;
  }

  footer .pl-1 {
    padding-left: 0;
  }

  .slider{
    margin: 25px 0 100px 0;
  }

  .donation-wrapper{
    flex-direction: column-reverse;
    justify-content: center;
    padding: 42px 0 42px;
  }

  .help-container, .our-friends,  .donation-wrapper, .about-shelter{
    padding: 42px 0 42px;
  }

  .donation-text-block{
    width: 100%;
    justify-content: center;
    margin: auto;
    text-align: center;
  }

  .donation-text2{
    text-align: start;
  }
  .donation-dog{
    justify-content: center;
    margin-top: 45px;
  }

  .footer-section{
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .col-sm-4-cus{
   flex-basis: 100%;
  }

  .d-md-none{
    display: none;
  }

  .center-vertically{
    justify-content: center;
  }
  .my-1{
    margin: 2rem 0;
  }

  h3{
    font-weight: 400;
    font-size: 25px;
    text-align: center;
  }

  .button-wrapper, h1, .main-p{
    text-align: center;
  }
  .main-right{
    width: 260px;
    height: 271.77px;
  }

  h1{
    font-size: 25px;
  }

  h4{
    font-size: 15px;
  }

  .section-container .flex-between {
    align-items: center;
  }

  .donation-button{
    width: 251px;
    font-size: 15px;
    margin: auto;
  }

  header .section-container{
    padding: 30px 0 0;

  }

  header {
    padding: 0 10px;
  }

  .donation-wrapper{
    padding: 42px 20px;
    margin:0;
  }

  .suggestions{
    margin: auto;
  }

  .waiting{
    width: 80%;
    margin: auto;
  }
}