header{
  background-image: url(../../assets/images/main-background.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 2rem;
}

a{
  color: #FAFAFA;
  text-decoration: none;
}
.logo{
  font-family: var(--family-georgia);
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
}

.logo-span{
font-weight: 400;
font-size: 13px;
line-height: 15px;
letter-spacing: 0.1em;
}


nav li a{
  font-weight: 300;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0.5px;
  color: var(--color-dark-s);
}

.main-right{
  background-image: url("../../assets/images/main-puppy.png");
  background-repeat: no-repeat;
  background-size: cover; 
  width: 698px;
  height: 700px;
  left: calc(50% - 698px/2 + 251px);
}

.main-left{
  color: #fff;
}

h1{
font-family: 'Georgia';
font-size: 44px;
line-height: 130%;
letter-spacing: 2px;
font-family: georgia-web;
}

h4{
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  color: #545454;
}

.main-p{
font-family: 'Arial';
font-weight: 400;
font-size: 15px;
line-height: 160%;
color: var(--color-dark-s);
}

/* About shelter */
.about-shelter{
  background-color: #fff;
  padding: 4rem 0;
}

.about-text-block {
	display: flex;
	flex-direction: column;
  width: 70%;
}

h3 {
	font-family: 'Georgia';

	font-weight: 400;
	font-size: 35px;
	line-height: 128%;
	letter-spacing: 0.06em;
	color: var(--color-dark-l);
	margin-bottom: 23px;
}

.about-add-text {
	font-family: 'Arial';

	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: var(--color-dark-xl);
	margin-bottom: 6px;
}

.pets-slider{
  display: flex;
}

.our-friends{
  background-color: #F6F6F6;
  padding: 2rem 0 1rem;
}

.arrow-right{
  width: 60px;
  height: 52px;
  margin-left: 53px;
  border: 2px solid var(--color-primary);
  box-sizing: border-box;
  border-radius: 100px;
  background: url(../../assets/icons/Arrow\ right.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px;
  cursor: pointer;
}

.arrow-left{
  width: 62px;
  height: 52px;
  margin-right: 53px;
  border: 2px solid var(--color-primary);
  box-sizing: border-box;
  border-radius: 100px;
  background: url(../../assets/icons/Arrow\ left.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px;
  cursor: pointer;
}

.slider{
  display: flex;
  align-items: center;
  width: 100%;
}
.pet{
  display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    padding: 1rem 1rem 2rem 1rem;
}

.pet-name{
  font-family: 'Georgia';
font-weight: 400;
font-size: 20px;
line-height: 23px;
}
main{
  background-color: #F6F6F6;
}

h3{
  font-family: 'Georgia';
font-weight: 400;
font-size: 35px;
line-height: 130%;
letter-spacing: 0.06em;
color: #545454
}

.bg-white{
  background-color: #fff;
}

.bg-gray{
  background-color: #F6F6F6;
}


.help-row{
  width: 85%;
  display: flex;
  justify-content: space-around;
  margin: 3rem auto;
}

.help-row2{
  width: 74%;
}

.help-icon{
  width: 100px;
  text-align: center;
}
/* Donations */

h5{
  font-family: 'Georgia';

  color: var(--color-dark-l);
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
}

.donation-text2{
  font-family: 'Arial';
font-style: italic;
font-weight: 400;
font-size: 12px;
line-height: 18px;
color: #B2B2B2;
}

.donation-button{
  background: #F1CDB3;
border-radius: 9px;
width: 349px;
height: 43px;
padding: 10px 15px;
border: none;
display: flex;
align-items: center;
justify-content: space-around;
}

.donation-button span{
  font-weight: 400;
font-size: 20px;
line-height: 115%;
font-family: 'Georgia';
color: #545454;
letter-spacing: 0.06em;

}

.donation-img{
  height: 300px;
}

footer{
  background: url(../../assets/images/footer-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer h3{
  color: #fff;
}

footer a{
  color: var(--color-primary);
  font-family: 'Georgia';
font-weight: 400;
font-size: 20px;
line-height: 115%;
letter-spacing: 0.06em;
}

.footer-icon{
  height: 37px;
}