:root {
  --color-light-xl: #ffffff;
  --color-light-l: #f6f6f6;
  --color-light-s: #fafafa;
  --color-dark-s: #cdcdcd;
  --color-dark-m: #b2b2b2;
  --color-dark-l: #545454;
  --color-dark-xl: #4c4c4c;
  --color-dark-2xl: #444444;
  --color-dark-3xl: #292929;
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
}

@font-face {
  font-family: 'Arial';
  src: url('../../assets/fonts/arial.ttf');
  src: local('Arial Regular'), local('Arial-Regular'), url('../../assets/fonts/arial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url('../../assets/fonts/georgia.ttf');
  src: local('Georgia Regular'), local('Georgia-Regular'), url('../../assets/fonts/georgia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
}

.section-container-pets {
  max-width: 1280px;
  margin: auto;
  padding: 0 40px;
}

.section-container-pets-footer {
  max-width: 1280px;
  margin: auto;
  padding: 0 75px;
}

a {
  text-decoration: none;
}

.disabled {
  cursor: default;
}

.header {
  background-size: cover;
  background-color: var(--color-light-xl);
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 120px;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 30px;
  max-width: 1280px;
  align-items: center;
}
.logo-header{
  padding-left: 10px;
}

.logo,
h1 {
  margin-bottom: 10px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.logo-span {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: var(--color-dark-3xl);
  margin-left: 4px;
  background-color: var(--color-light-xl);
  margin-top: 10px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 10px;
}
.col-md-12{
  padding: 0!important;
}
.nav-header-link {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-l);
  margin-left: 30px;
  text-decoration: none;
  margin-bottom: 3px;
  transition-duration: 0.1s;
}

.nav-header-link:hover,
.nav-header-link:focus,
.nav-header-link:active {
  color: var(--color-dark-3xl);
  transition-duration: 0.1s;
}

.nav-header-link-active {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-3xl);
  text-decoration: none;
  margin-left: 36px;
  margin-bottom: 3px;
  border-bottom: solid var(--color-primary) 3px;
}

.nav-header-link-active:hover {
  color: var(--color-dark-2xl);
}

/* MAIN */
.main {
  background-color: var(--color-light-l);
}
.slider{
  max-width: 1200px;
}
.slider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 104px;
  gap: 28px;
  gap: 30px;
  position: relative;
}

h4 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  margin-bottom: 35px;
  text-align: center;
}

.pets-slider {
  display: flex;
  gap: 30px 40px;
}

.help-container,
.our-friends {
  background-color: #f6f6f6;
  padding: 80px 0 100px;
}

.donation-wrapper {
  padding: 80px 0 100px;
}

.arrow-right {
  width: 60px;
  height: 52px;
  margin-left: 53px;
  border: 2px solid var(--color-primary);
  box-sizing: border-box;
  border-radius: 100px;
  background: url(../../assets/icons/Arrow\ right.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 27px 0;
  cursor: pointer;
}

.arrow-left {
  width: 62px;
  height: 52px;
  margin-right: 53px;
  border: 2px solid var(--color-primary);
  box-sizing: border-box;
  border-radius: 100px;
  background: url(../../assets/icons/Arrow\ left.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 27px 0;
  cursor: pointer;
}

.pet {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  transition: 0.1s;
  height: 435px;
  cursor: pointer;
  width: 270px;
}

.pet:hover {
  background-color: #fff;
}

.pet:hover .btn-secondary {
  background-color: #fddcc4;
  border: 2px solid #fddcc4;
}

.btn-next {
  border-radius: 100%;
  transition: 0.2s;
}

.pagination-button {
  padding: 0;
  background-color: #f6f6f6;
  border: none;
}

.pagination-button{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fddcc4;
  border-radius: 100%;
  width: 52px;
    height: 52px;
}

.pagination-button:hover {
  background-color: var(--color-primary-light);
  cursor: pointer;
}


.pagination-button:disabled  {
  cursor: default;
  border: 2px solid gray;
  background-color: #fff;
}

.btn-next:hover {
  background-color: var(--color-primary-light);
}

.pagination-button:disabled {

}

.pet-img {
  width: 270px;
  height: 270px;
  margin-bottom: 15px;
}

.pet-name {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  padding-top: 30px;
  margin-bottom: 26px;
}

.buttons {
  display: flex;
  gap: 20px;
  margin-top: 55px;
  justify-content: center;
}
.pagination-btn,
.pagination-btn-active {
  width: 52px;
  height: 52px;
}
main {
  background-color: #f6f6f6;
}

.pagination-btn-active {
  border-radius: 100%;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  color: var(--color-dark-3xl);
}
/* Footer */

footer {
  background: url(../../assets/images/footer-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 55px 40px 0;
}

.footer-section {
  gap: 33px;
}

footer h3 {
  color: #fff;
}

footer a {
  color: var(--color-primary);
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}
.footer-icon-bigger,
.footer-icon {
  height: 30px;
  width: 35px;
}

h3 {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.footer-img {
  width: 305px;
}

.col-sm-4-cus {
  flex-basis: 33%;
}

.d-xs-none {
  display: flex;
}

.d-xs-none {
  display: flex;
}

.nav-header-link-active{
  padding: 0 0 5px 0;
}

.our-friends-title h4{
  margin-bottom: 31px;
}

.mobile-navbar{
  z-index: 1;
  position: fixed;
  background-color: #2929298f;
  overflow: scroll;
  transition: 0.6s;
  opacity:0;
  top: 0;
  bottom: 0;
  right: 0;

}

.mobile-inner{
  width: 300px;
  float: right;
  background-color: #292929;
  padding: 30px 10px 0;
}

.burger-btn {
  z-index: 5;
}

.open-burger{
  transition: all 0.5s;
}

.translate-burger{
  transform: rotate(90deg);
}

.translate{
  transform: translateX(0%);
  display: block!important;
  opacity: 1;
}


.mobile-nav-header {
  display: flex;
  justify-content: space-between;
  margin-right: 23px;
  align-items: center;
}

.mobile-nav-ul {
  padding: 0;
  text-align: center;
  margin-top: 158px;
}

.mt-05{
  margin-top: 0!important;
}

.mobile-nav-ul li {
  margin-bottom: 40px;
}

.mobile-nav-ul li a {
  font-weight: 400;
  font-size: 32px;
  line-height: 160%;
  color: #cdcdcd;
  padding: 10px;
}

.highligted {
  color: #fafafa !important;
  border-bottom: 3px solid #f1cdb3;
}

.highligtedmob {
  color: #fafafa !important;
  border-bottom: 3px solid #f1cdb3;
}

.waiting {
  width: 280px;
  margin-bottom: 35px;
  margin-left: 10px;
}

.suggestions {
  width: 280px;
  margin-bottom: 35px;
}
.d-xs-none {
  display: block !important;
}

.footer-section .center-vertically {
  margin-bottom: 30px;
}

.puppy-wrapper {
    margin: -20px 0 0 40px;
}

.phone{
  margin-top: 40px;
}

.d-xs-block {
  display: none !important;
}
.d-md-none{
  display: block;
}

.footer-icon {
  height: 32px;
  width: 40px;
}

.marker-icon {
  margin: 0 10px 0 -3px;
}

.footer-section {
  padding: 0 40px 0;
  gap: 33px;
}

.pets-slider{
  display: flex;
  flex-wrap: wrap;
}

/* Popup */


.popup-modal{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(41, 41, 41, 0.6);
}
.popup-modal-inner{
  width: 900px;
  height: 500px;
  margin: auto;
  display: flex;
  gap: 30px;
  background: #fff;
  border-radius: 10px;
  position: relative;
}

.popup-img{
  width: 500px;
  height:500px ;
}

.popup-img-image{
  width: 100%;
  height: 100%;
}

.popup-content{
  width: 360px;
  padding: 50px 20px 50px 0;
}

.popup-title{
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  margin: 0;
  letter-spacing: 0.06em;
}
.popup-breed{
  font-weight: 400;
font-size: 20px;
line-height: 115%;
letter-spacing: 0.06em;
margin: 10px 0 0 0;
}
.popup-content p {
font-weight: 400;
font-size: 15px;
line-height: 110%;
letter-spacing: 0.06em;
margin: 40px 0;
}

.popup-content ul {
  padding: 0;
}

.popup-content ul li {
  margin-bottom: 11px;
}

.popup-content ul li::before {
  content: "\2022"; 
  color: #F1CDB3;
  font-weight: bold; 
  display: inline-block;
  width: 1em;
  margin-left: -1em; 
}

#close-popup-btn-container{
  position: absolute;
  right: -25px;
  top: -60px;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  border: 1px solid #F1CDB3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s;
}


.hovering{
  background-color: #F1CDB3;
  cursor: pointer;
}

@media only screen and (min-width: 350px) and (max-width: 760px){
  .footer-section .center-vertically {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  nav ul {
    padding: 0 35px 0 0;
  }

  .slider-wrapper{
    padding-bottom: 45px
  }

  .header-wrapper{
    padding: 30px 0;
  }

  .logo-header {
    padding-left: 0;
  }

  .buttons{
    margin-top: 40px;
  }
  .footer-section .center-vertically{
    margin-bottom: 35px;
  }

  .nav-links{
   padding: 0 0 3px;
  }

  nav ul:last-child {
    padding: 0;
  }

  .nav-header-link, .nav-header-link-active {
    margin-left: 31px;
  }

  .slider-wrapper {
    gap: 0;
  }

  .text-white {
      color: #fff;
  }

  .waiting {
    margin-left: 8px;
    margin-bottom: 28px;
  }

  .section-container-pets {
    padding: 0 30px;
  }

  header .section-container {
    padding: 30px 0 0;
  }

  header .main-left {
    margin: auto;
    padding-right: 0 !important;
    padding-bottom: 100px;
  }

  .pets-slider {
    flex-wrap: wrap;
    margin: 0 50px;
    width: 580px;
    gap: 30px;
  }

  .pet{
    gap: 2px;
  }
  .slider{
    margin-bottom: 30px;
  }

  .d-md-none{
    display: none;
  }
  .footer-section {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0 0 23px;
    gap: 0;
  }
  .mr-1 {
    margin-right: 1.3rem!important;
  }

  .col-sm-4-cus {
    flex-basis: 50%;
  }

  footer {
    padding: 30px 40px 0;
  }
  .puppy-wrapper {
    margin-top: 30px;
    margin-right: 60px;
  }

  .footer-img {
    margin-top: -5px;
  }
  .popup-modal-inner {
    width: 630px;
    height: 350px;
  }
  .popup-img{
    height: 350px;
    width: 350px;
  }

  .popup-content{
    padding: 10px 0;
  }

  .popup-content p{
    font-size: 13px;
    margin: 20px 0;
  }
  .popup-content ul li {
    margin-bottom: 6px;
  }
}

@media only screen and (max-width: 767px) {
  .d-xs-block {
    display: block !important;
  }

  .d-xs-none {
    display: none !important;
  }

  .logo {
    color: var(--color-primary);
  }

  .logo-span {
    background-color: transparent;
  }

  .pet-img {
  margin-bottom: 20px;
  }
  .slider-wrapper{
    padding: 42px 0 44px;
    gap: 10px;
  }
  .flex-between {
    flex-wrap: wrap;
    justify-content: center !important;
  }
  .buttons {
    gap: 10px;
  }

  .footer-section {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center

  }

  .col-sm-4-cus {
    flex-basis: 100%;
  }

  .d-md-none {
    display: none;
  }

  h3 {
    font-weight: 400;
    font-size: 25px;
    text-align: center;
  }

  h4 {
    font-weight: 400;
    font-size: 25px;
  }
  .suggestions {
    margin: auto;
  }

  .waiting {
    width: 80%;
    margin: auto;
  }

  footer {
    padding: 30px 0 0;
  }

  footer .pl-1 {
    padding-left: 0;
  }

  .center-vertically {
    justify-content: center;
  }

  .section-container-pets {
    padding: 0;
  }

  .header-wrapper {
    margin-right: 2rem;
    align-items: center;
    padding: 30px 0;
  }

  .open-burger {
    margin-right: 20px;
  }


  .pets-slider{
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

    .footer-section .center-vertically {
      margin: 37px 0 31px 0!important;
      text-align: start;
  }
  .phone{
    margin: 30px 0 31px 0!important;
  }
  .waiting{
    margin-top: 5px;
  }
  .text-start{
    justify-content: start;
    margin: 37px 0 31px 0;
  }

  .puppy-wrapper{
    width: 260px;
    margin: 9px 0 0;
  }
  /* .mobile-nav-header {
    padding: 0 0 0 15px;
  } */

  .footer-section {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 0;
    gap: 0;
  }
  .popup-img{
    display: none;
  }

  .popup-modal-inner{
    width: 240px;
    padding: 10px;
    height: 441px;
  }

  .popup-content {
    width: 360px;
    padding: 10px 0;
    
  }
  .popup-title{
    text-align: center;
  }
  .popup-content ul {
    padding: 0 15px;
  }
  .popup-content p{
    font-size: 13px;
    margin: 20px 0;
  }
  .popup-content ul li{
    font-size: 15px;
  }
  .popup-content{
    width: 240px;
  }
  .popup-modal{
    padding-top: 20px;
  }
  .popup-content ul li::before{
    width: 0.7em;
  }
  .buttons {
    margin-top: 40px;
  }
}


